PORT=3000
NODE_ENV=
DATABASE_URL=
# generate using openssl rand -hex 64
JWT_SECRET=

# PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
POSTGRES_PORT=5433

# Redis
REDIS_PORT=6380